
name: Portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
    
      - uses: actions/checkout@v4

      - name: Start containers
        run: docker compose up --build -d


      - name: Sleep for 5s
        run: sleep 5

      - name: Stop containers
        if: always()
        run: docker compose down